body{
          margin:0;
          position:relative;
}

header{
          height:60px;
          width:100%;
          position:absolute;
          z-index:999;
}

.header{
          padding:20px;
}

.headerlogo{
          width:185px;
          height:20px;
}

.header_button{
          color:white;
          background-color:#F79214;
          font-size:12px;
          border-radius:38px;
          display:inline-block;
          height:40px;
          line-height:40px;
          padding:0 20px;
          margin-right:20px;
          text-decoration:none;
          float:right;
}

.header_menu{
          font-size:12px;
          color:black;
          text-align:center;
          margin:0 20px;
          text-decoration:none;
          float:right;
}

.header_menu strong{
          font-weight:900;
}

.header_menu span{
          font-size:8px;
}

.header_mini{
          display:inline-block;
          height:20px;
          width:30px;
          position:relative;
          margin-right:20px;
          float:right;
}

.header_mini1{
          background-color:black;
          border-radius:10px;
          display:block;
          width:30px;
          height:3px;
          position:absolute;
          top:0%;
}

.header_mini2{
          background-color:black;
          border-radius:10px;
          display:block;
          width:30px;
          height:3px;
          position:absolute;
          top:50%;
}

.header_mini3{
          background-color:black;
          border-radius:10px;
          display:block;
          width:30px;
          height:3px;
          position:absolute;
          top:100%;
}

main{
          width:100%;
          position:absolute;
}

.main_1{
          height:670px;
          background-image:url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
          background-repeat:no-repeat; 
          background-size:cover;
          background-position:center;
          
}

.main_1_1{
          padding-top:90px;
          width:60%;
}

.main_1_title{
          text-align:center;
          font-size:40px;
          white-space:nowrap;
          }
          
.main_image{
          display:flex;
          justify-content:center;
}

.main_image2{
          margin:0 10;
}

.main_1_button{
          text-align:center;
          margin-top:20px;
          white-space: nowrap;
}

.main_1_button1{
          color:white;
          background-color:#F79214;
          font-size:15px;
          border-radius:38px;
          display:inline-block;
          height:60px;
          line-height:60px;
          padding:0 40px;
          margin-right:20px;
          text-decoration: none;
}

.main_1_button2{
          color:black;
          background-color:white;
          font-size:15px;
          border:2px solid #EEEEEE;
          border-radius:38px;
          display:inline-block;
          height:60px;
          line-height:60px;
          padding:0 20px;
          margin-right:20px;
          text-decoration: none;
}

.main_1_2{
          padding:50 100 0 100;
          font-size:12px;
          color:#A2A2A4;
}

.main__{
          background-color:#F79214;
}

.main__title{
          width:550px;
          margin:30 10% 30 10%;
          color:white;
          display:inline-block;
          text-align:justify;
}

.main__title h1 span{
          font-weight:900;
          font-size:50px;
}

.main__title p{
          font-weight:600;
}

.content{
          display:inline-block;
          text-align:center;
          vertical-align:top;
          padding-top:100px;
}

.gakusyu_naiyou{
          background-color:white;
          color:#F79214;
          font-size:20px;
          border-radius:38px;
          display:inline-block;
          height:35px;
          padding:10px 60px;
          text-decoration: none;
          text-align:center;
          line-height:20px;
}

.gakusyu_naiyou span{
          font-size:8px;
}

.footer_{
          z-index:999;
          position:fixed;
          display:inline-block;
          width:360;
          height:90px;
          bottom:20px;
          right:10px;
}
.footer_logo{
          display:block;
          width:360px;
          height:90px;
}

@media (max-width: 1050px){
 .header_button, .header_menu{
           display:none;
 }

.header_0{
          position:fixed;
          z-index:999;
          background-color:white;
}

.main_1{
          margin-top:60px;
}

.main_1_1{
          width:620px;
}

.content{
          width:100%;
          padding:50px 0 100px 0;
}
}

@media (max-width: 770px){
 
.main_1{
          height:auto;
          background-image:url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero-sp.jpg);
          background-repeat: no-repeat;
          background-size:100% auto;
          background-position:top;
}

.main_1_1{
          width:100%;
          padding-top:65%;
}

.main_1_title{
          font-size:25px;
}

.main_image1, .main_image3{
          width:23%;
}

.main_image2{
          width:35%;
}

.main_1_button1{
          margin:0;
          padding:0 25%;
}

.main_1_button2{
          display:none;
}

.main_1_2{
          padding:0 20 0 20;
}

.main__title{
          width:80%;
}

.main__title h1, .main__title h1 span{
          text-align:center;
          font-size:25px;
}

}

@media (min-width: 1051px){
.header_mini{
           display:none;
 }
}

.headerlogo:hover, .header_button:hover, .main_1_button1:hover{
          opacity:0.5;
}

.gakusyu_naiyou:hover{
          background-color:#FEEDCC;
}
